# MUESTREO SIMPLE SIN REEMPLAZO

In [64]:
import random
random.seed(42)
X = [1, 4, 5, 7, 8, 9, 5, 7]
muestra_tamaño = 4
muestra = random.sample(X, muestra_tamaño)
print("Muestra aleatoria:", muestra)

Muestra aleatoria: [4, 1, 9, 5]

In [42]:
import pandas as pd
import random

#random.seed(42)
data = {
    'columna': ['blanco', 4, 5, 7, 'rojo', 4, 'violeta', 5],
    'otra_columna': [10, 20, 30, 40, 50, 60, 70, 80]
}
df = pd.DataFrame(data)
muestra_tamaño = 4
muestra_columna = random.sample(list(df['columna']), muestra_tamaño)
print("Muestra aleatoria de la columna:", muestra_columna)

Muestra aleatoria de la columna: [7, 'violeta', 'blanco', 5]

In [22]:
import pandas as pd
data = {
    'columna': [1, 4, 5, 7, 8, 4, 9, 5],
    'otra_columna': [10, 20, 30, 40, 50, 60, 70, 80]
}
df = pd.DataFrame(data)
muestra_tamaño = 4
muestra_df = df.sample(n=muestra_tamaño, random_state=42)
print("Muestra aleatoria del DataFrame:")
print(muestra_df)

Muestra aleatoria del DataFrame:
   columna  otra_columna
2        5            30
1        4            20
0        1            10
5        4            60

# MUESTREO SIMPLE CON REEMPLAZO

In [ ]:
import random
random.seed(42)
X = [1, 4, 5, 7, 8, 9, 5, 7]
muestra_tamaño = 4
muestra = random.choices(X, k=muestra_tamaño)

print("Muestra aleatoria con reemplazo:", muestra)

In [65]:
import pandas as pd
import random

random.seed(42)

data = {
    'columna': [1, 4, 5, 7, 8, 4, 9, 5],
    'otra_columna': [10, 20, 30, 40, 50, 60, 70, 80]
}
df = pd.DataFrame(data)
muestra_tamaño = 4
muestra_columna = random.choices(df['columna'], k=muestra_tamaño)
print("Muestra aleatoria con reemplazo de la columna:", muestra_columna)

Muestra aleatoria con reemplazo de la columna: [4, 1, 5, 4]

In [67]:
import pandas as pd
data = {
    'columna': [1, 4, 5, 7, 8, 4, 9, 5],
    'otra_columna': [10, 20, 30, 40, 50, 60, 70, 80]
}
df = pd.DataFrame(data)
muestra_tamaño = 4
muestra_df = df.sample(n=muestra_tamaño, replace=True, random_state=42)

print("Muestra aleatoria con reemplazo del DataFrame:")
print(muestra_df)

Muestra aleatoria con reemplazo del DataFrame:
   columna  otra_columna
6        9            70
3        7            40
4        8            50
6        9            70

# MUESTREO ALEATORIO SISTÉMICO

In [8]:
import random
#vector = [3, 7, 20, 15, 1, 35, 43, 8, 12, 29, 17, 27, 22, 40, 5, 14, 50, 10, 23, 38, 
#          9, 33, 44, 4, 18, 21, 25, 31, 46, 11, 48, 30, 13, 41, 24, 16, 19, 26, 39, 
#          32, 47, 6, 2, 42, 28, 45, 26, 49, 34, 37, 51]
vector=[1,40,3,4,23,7,2,31,45,23,1,9]
muestra_tamaño = 4
intervalo = len(vector) // muestra_tamaño
inicio = random.randint(0, intervalo - 1)

muestra = [vector[i] for i in range(inicio, len(vector), intervalo)][:muestra_tamaño]

print("Vector original:", vector)
print("Muestra aleatoria sistemática:", muestra)

Vector original: [1, 40, 3, 4, 23, 7, 2, 31, 45, 23, 1, 9]
Muestra aleatoria sistemática: [40, 23, 31, 1]

In [85]:
import pandas as pd
import random

vector = [3, 7, 20, 15, 1, 35, 43, 8, 12, 29, 17, 27, 22, 40, 5, 14, 50, 10, 23, 38,
          9, 33, 44, 4, 18, 21, 25, 31, 46, 11, 48, 30, 13, 41, 24, 16, 19, 26, 39,
          32, 47, 6, 2, 42, 28, 45, 26, 49, 34, 37, 51]

df = pd.DataFrame({'columna': vector})

muestra_tamaño = 10

intervalo = len(df) // muestra_tamaño

inicio_columna = random.randint(0, intervalo - 1)

muestra_columna = [df['columna'].iloc[i] for i in range(inicio_columna, len(df), intervalo)][:muestra_tamaño]

print("DataFrame original:")
print(df)
print("\nMuestra aleatoria sistemática de la columna:")
print(muestra_columna)

DataFrame original:
    columna
0         3
1         7
2        20
3        15
4         1
5        35
6        43
7         8
8        12
9        29
10       17
11       27
12       22
13       40
14        5
15       14
16       50
17       10
18       23
19       38
20        9
21       33
22       44
23        4
24       18
25       21
26       25
27       31
28       46
29       11
30       48
31       30
32       13
33       41
34       24
35       16
36       19
37       26
38       39
39       32
40       47
41        6
42        2
43       42
44       28
45       45
46       26
47       49
48       34
49       37
50       51

Muestra aleatoria sistemática de la columna:
[3, 35, 17, 14, 9, 21, 48, 16, 47, 45]

In [1]:
import pandas as pd
import random

vector = [3, 7, 20, 15, 1, 35, 43, 8, 12, 29, 17, 27, 22, 40, 5, 14, 50, 10, 23, 38,
          9, 33, 44, 4, 18, 21, 25, 31, 46, 11, 48, 30, 13, 41, 24, 16, 19, 26, 39,
          32, 47, 6, 2, 42, 28, 45, 26, 49, 34, 37, 51]
df = pd.DataFrame({
    'columna1': vector,
    'columna2': [x * 2 for x in vector]  # Ejemplo de otra columna
})

muestra_tamaño = 10

intervalo_df = len(df) // muestra_tamaño

inicio_df = random.randint(0, intervalo_df - 1)

muestra_df = df.iloc[range(inicio_df, len(df), intervalo_df)][:muestra_tamaño]

print("DataFrame original:")
print(df)
print("\nMuestra aleatoria sistemática del DataFrame:")
muestra_df

DataFrame original:
    columna1  columna2
0          3         6
1          7        14
2         20        40
3         15        30
4          1         2
5         35        70
6         43        86
7          8        16
8         12        24
9         29        58
10        17        34
11        27        54
12        22        44
13        40        80
14         5        10
15        14        28
16        50       100
17        10        20
18        23        46
19        38        76
20         9        18
21        33        66
22        44        88
23         4         8
24        18        36
25        21        42
26        25        50
27        31        62
28        46        92
29        11        22
30        48        96
31        30        60
32        13        26
33        41        82
34        24        48
35        16        32
36        19        38
37        26        52
38        39        78
39        32        64
40        47        94
41         6        12
42         2         4
43        42        84
44        28        56
45        45        90
46        26        52
47        49        98
48        34        68
49        37        74
50        51       102

Muestra aleatoria sistemática del DataFrame:

    columna1  columna2
1          7        14
6         43        86
11        27        54
16        50       100
21        33        66
26        25        50
31        30        60
36        19        38
41         6        12
46        26        52